* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    background-color: black;
    color: orangered;
    text-align: center;
}
h2 {
    color: orangered;
}
h4 {
    font-size: 30px;
    color: orangered;
}